{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!--===============================================================================================-->
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Computer World {% block extra_title %}{% endblock %}</title>
</head>

<body class="animsition ">
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar ">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            Help & FAQs
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            My Account
                        </a>




                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            EN
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            USD
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop ">



                <div class="search-bar">
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                        <form method="GET" action="#">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q"
                                    placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0"
                                        type="submit">
                                        <span class="icon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>







                <nav class="limiter-menu-desktop container ">
                    <!-- Logo desktop -->
                    <a href="#" class="logo">
                        <img src="{% static 'images/icons/logo-01.png'%}" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Homepage 1</a></li>
                                    <li><a href="home-02.html">Homepage 2</a></li>
                                    <li><a href="home-03.html">Homepage 3</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="product.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Homepage 1</a></li>
                                    <li><a href="home-02.html">Homepage 2</a></li>
                                    <li><a href="home-03.html">Homepage 3</a></li>
                                </ul>
                            </li>

                            <li class="label1" data-label1="hot">
                                <a href="shoping-cart.html">Features</a>
                            </li>

                            <li>
                                <a href="blog.html">Blog</a>
                            </li>

                            <li>
                                <a href="about.html">About</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <!-- <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div> -->













                    <div class="wrap-icon-header flex-w flex-r-m">

                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                            <li class="list-inline-item dropdown">
                                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <div><i class="fa fa-user fa-lg"></i></div>
                                        <p class="my-0">My Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="#" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                                    href="#">
                                    <div class="text-center">
                                        <div><i class="fa fa-shopping-cart fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                            {% else %}
                                            $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                            data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>

                        <a href="#"
                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                            data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a> -->
            </div>
            </nav>
        </div>
        </div>













        

        <!-- Header Mobile -->
        <div class="wrap-header-mobile container-fluid fixed-top">
            <!-- Logo moblie -->
            <div class="logo-mobile d-none">
                <a href="index.html"><img src="{% static 'images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>


         



            <!-- Icon header -->
            <!-- <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div> -->




            <li class="list-inline-item">
                <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fa fa-search fa-lg"></i></div>
                        <p class="my-0">Search</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0 w-100 p-3  rounded-0 my-0" aria-labelledby="mobile-search">
                    <form class="form" method="GET" action="#">
                        <div class="input-group w-100 ">
                            <input class="form-control border border-black rounded-0" type="text" name="q"
                                placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control form-control btn btn-black border border-black rounded-0"
                                    type="submit">
                                    <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li> 


            







            
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                       
                        <div class="text-center">
                            <div><i class="fa fa-user fa-lg"></i></div>
                            <p class="my-0 ">Account</p>
                        </div>
                    
                    </a>
                    
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="#">
                        <div class="text-center">
                            <div><i class="fa fa-shopping-cart fa-lg"></i></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
         
       


           


            <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                    data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>



                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                    data-notify="0">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a> -->


                
        </div>

        <!-- Button show menu -->
        <!-- <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div> -->
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">



            
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            Help & FAQs
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            My Account
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            EN
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            USD
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">

        
                <li>
                    <a href="index.html">Home</a>

                </li>

                <li>
                    <a href="product.html">Shop</a>
                    <ul class="sub-menu-m">
                        <li><a href="index.html">Homepage 1</a></li>
                        <li><a href="home-02.html">Homepage 2</a></li>
                        <li><a href="home-03.html">Homepage 3</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
                </li>

                <li>
                    <a href="blog.html">Blog</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
        <!-- <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
                </button>

                <form class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </div> -->













        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item d-block d-md-none">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-link">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="#" class="dropdown-item">By Price</a>
                        <a href="#" class="dropdown-item ">By Rating</a>
                        <a href="#" class="dropdown-item ">By Category</a>
                        <a href="#" class="dropdown-item">All Products</a>
                    </div>
                </li>
        
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clothing
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                        <a href="#" class="dropdown-item">Activewear &amp;
                            Essentials</a>
                        <a href="#" class="dropdown-item">Jeans</a>
                        <a href="#" class="dropdown-item">Shirts</a>
                        <a href="#" class="dropdown-item">All
                            Clothing</a>
                    </div>
                </li>
        
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Homeware
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                        <a href="#" class="dropdown-item">Bed &amp; Bath</a>
                        <a href="#" class="dropdown-item">Kitchen &amp; Dining</a>
                        <a href="#" class="dropdown-item">All Homeware</a>
                    </div>
                </li>
        
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Special Offers
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                        <a href="#" class="dropdown-item">New Arrivals</a>
                        <a href="#" class="dropdown-item">Deals</a>
                        <a href="#" class="dropdown-item">Clearance</a>
                        <a href="#" class="dropdown-item">All
                            Specials</a>
                    </div>
                </li>
            </ul>
        </div>




    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}








    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/slick/slick.min.js'%}"></script>
    <script src="{% static 'js/slick-custom.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/parallax100/parallax100.js'%}"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js'%}"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/isotope/isotope.pkgd.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/sweetalert/sweetalert.min.js'%}"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>